In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value = 0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'], index = [0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
ranger = range(15)

In [9]:
ranger

range(0, 15)

In [10]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape((5,5)), index = ['A','B','D','E','F'], columns=['col1', 'col2','col3','col4','col5'])

In [13]:
dframe

       col1      col2      col3      col4      col5
A  0.969134  1.079653 -1.127864  2.458721 -0.987283
B -0.953076 -2.178616 -1.106587 -1.787030 -2.177747
D -0.464864 -1.493538  0.557068 -0.783040  2.667275
E -0.565771 -1.191740 -0.590802 -0.929120 -0.133003
F -0.669016  0.845170  1.084580  0.114969  0.088635

In [14]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [15]:
dframe2

       col1      col2      col3      col4      col5
A  0.969134  1.079653 -1.127864  2.458721 -0.987283
B -0.953076 -2.178616 -1.106587 -1.787030 -2.177747
C       NaN       NaN       NaN       NaN       NaN
D -0.464864 -1.493538  0.557068 -0.783040  2.667275
E -0.565771 -1.191740 -0.590802 -0.929120 -0.133003
F -0.669016  0.845170  1.084580  0.114969  0.088635

In [16]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [17]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.969134  1.079653 -1.127864  2.458721 -0.987283   NaN
B -0.953076 -2.178616 -1.106587 -1.787030 -2.177747   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.464864 -1.493538  0.557068 -0.783040  2.667275   NaN
E -0.565771 -1.191740 -0.590802 -0.929120 -0.133003   NaN
F -0.669016  0.845170  1.084580  0.114969  0.088635   NaN

In [18]:
dframe2['col6'] = 5

In [19]:
dframe2

       col1      col2      col3      col4      col5  col6
A  0.969134  1.079653 -1.127864  2.458721 -0.987283     5
B -0.953076 -2.178616 -1.106587 -1.787030 -2.177747     5
C       NaN       NaN       NaN       NaN       NaN     5
D -0.464864 -1.493538  0.557068 -0.783040  2.667275     5
E -0.565771 -1.191740 -0.590802 -0.929120 -0.133003     5
F -0.669016  0.845170  1.084580  0.114969  0.088635     5

In [23]:
del dframe2['C']

In [24]:
dframe2

       col1      col2      col3      col4      col5  col6
A  0.969134  1.079653 -1.127864  2.458721 -0.987283     5
B -0.953076 -2.178616 -1.106587 -1.787030 -2.177747     5
C       NaN       NaN       NaN       NaN       NaN     5
D -0.464864 -1.493538  0.557068 -0.783040  2.667275     5
E -0.565771 -1.191740 -0.590802 -0.929120 -0.133003     5
F -0.669016  0.845170  1.084580  0.114969  0.088635     5

In [28]:
dframe2.ix['col6'] = 5
dframe2

          col1      col2      col3      col4      col5  col6
A     0.969134  1.079653 -1.127864  2.458721 -0.987283     5
B    -0.953076 -2.178616 -1.106587 -1.787030 -2.177747     5
C     5.000000  5.000000  5.000000  5.000000  5.000000     5
D    -0.464864 -1.493538  0.557068 -0.783040  2.667275     5
E    -0.565771 -1.191740 -0.590802 -0.929120 -0.133003     5
F    -0.669016  0.845170  1.084580  0.114969  0.088635     5
col6  5.000000  5.000000  5.000000  5.000000  5.000000     5

In [29]:
dframe

       col1      col2      col3      col4      col5  C
A  0.969134  1.079653 -1.127864  2.458721 -0.987283  5
B -0.953076 -2.178616 -1.106587 -1.787030 -2.177747  5
D -0.464864 -1.493538  0.557068 -0.783040  2.667275  5
E -0.565771 -1.191740 -0.590802 -0.929120 -0.133003  5
F -0.669016  0.845170  1.084580  0.114969  0.088635  5

In [30]:
del dframe['C']

In [32]:
dframe

       col1      col2      col3      col4      col5
A  0.969134  1.079653 -1.127864  2.458721 -0.987283
B -0.953076 -2.178616 -1.106587 -1.787030 -2.177747
D -0.464864 -1.493538  0.557068 -0.783040  2.667275
E -0.565771 -1.191740 -0.590802 -0.929120 -0.133003
F -0.669016  0.845170  1.084580  0.114969  0.088635

In [33]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A  0.969134  1.079653 -1.127864  2.458721 -0.987283   NaN
B -0.953076 -2.178616 -1.106587 -1.787030 -2.177747   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.464864 -1.493538  0.557068 -0.783040  2.667275   NaN
E -0.565771 -1.191740 -0.590802 -0.929120 -0.133003   NaN
F -0.669016  0.845170  1.084580  0.114969  0.088635   NaN