In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})

In [3]:
dframe

   dataset1  dataset2 k1     k2
0 -1.704664 -0.353601  X  alpha
1 -1.078635  0.691712  X   beta
2  0.173205 -2.045395  Y  alpha
3 -0.219013 -0.645374  Y   beta
4  1.277242  0.325234  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [5]:
group1

In [6]:
group1.mean()

k1
X   -1.391650
Y   -0.022904
Z    1.277242
Name: dataset1, dtype: float64

In [7]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [8]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -1.078635
    JAN    0.173205
NY  FEB   -0.219013
    JAN   -0.213711
Name: dataset1, dtype: float64

In [10]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X  -1.391650  0.169056
Y  -0.022904 -1.345385
Z   1.277242  0.325234

In [14]:
dframe.groupby('k1')

In [15]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha -1.704664 -0.353601
   beta  -1.078635  0.691712
Y  alpha  0.173205 -2.045395
   beta  -0.219013 -0.645374
Z  alpha  1.277242  0.325234

In [16]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [22]:
for name,group in dframe.groupby('k1'):
    print("This is the %s group" %name)
    print(group)
    print('\n')

This is the X group
   dataset1  dataset2 k1     k2
0 -1.704664 -0.353601  X  alpha
1 -1.078635  0.691712  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  0.173205 -2.045395  Y  alpha
3 -0.219013 -0.645374  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  1.277242  0.325234  Z  alpha

In [23]:
group

   dataset1  dataset2 k1     k2
4  1.277242  0.325234  Z  alpha

In [30]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print('Key1 = %s Key2 = %s' %(k1,k2))
    print(group)
    print('\n')

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0 -1.704664 -0.353601  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1 -1.078635  0.691712  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  0.173205 -2.045395  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3 -0.219013 -0.645374  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  1.277242  0.325234  Z  alpha

In [32]:
group_dict = dict(list(dframe.groupby('k1')))

In [33]:
group_dict['X']

   dataset1  dataset2 k1     k2
0 -1.704664 -0.353601  X  alpha
1 -1.078635  0.691712  X   beta

In [34]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis = 1)))

In [35]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.704664 -0.353601
 1 -1.078635  0.691712
 2  0.173205 -2.045395
 3 -0.219013 -0.645374
 4  1.277242  0.325234, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [36]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

dataset2_group.mean()

          dataset2
k1 k2
X  alpha -0.353601
   beta   0.691712
Y  alpha -2.045395
   beta  -0.645374
Z  alpha  0.325234

In [37]:
group_dict['Y']

   dataset1  dataset2 k1     k2
2  0.173205 -2.045395  Y  alpha
3 -0.219013 -0.645374  Y   beta