In [2]:
import pandas as pd

In [14]:
names = ['Wilbur','Petunia','Gregory']
ages = [55,66,54]
a = [67,80,64]
b = [56,90,50]
df = pd.DataFrame({'names':names,'age':ages, 'a':a,'b':b})

In [15]:
df

    a  age   b    names
0  67   55  56   Wilbur
1  80   66  90  Petunia
2  64   54  50  Gregory

In [18]:
melted = pd.melt(df, id_vars = ['names','age'],value_vars = ['a','b'], value_name = 'heartrate', var_name = 'drug')

In [19]:
melted.pivot('names','drug','heartrate')

drug      a   b
names
Gregory  64  50
Petunia  80  90
Wilbur   67  56

In [22]:
def gather(df,key,value,cols):
    id_vars = [col for col in df.columns if col not in cols]
    id_values = cols
    var_name = key
    value_name = value
    return pd.melt(df,id_vars,id_values,var_name, value_name)

In [23]:
gather(df, 'drug','heartrate',['a','b'])

   age    names drug  heartrate
0   55   Wilbur    a         67
1   66  Petunia    a         80
2   54  Gregory    a         64
3   55   Wilbur    b         56
4   66  Petunia    b         90
5   54  Gregory    b         50